@import url(https://fonts.googleapis.com/css?family=Roboto:300);

  .info, .success, .warning, .error, .validation {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px 0px;
  padding:15px 35px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  text-align: center;
}
.info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.success {
  color: #4F8A10;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
